ul{
    list-style-type: none;
    
    float: right;
  	margin: 0;
  	padding:50px;
}
li{
	float:left;
	font-size: 20px;
}
a{
	display: block;
    padding: 8px;
    background-color: #ebebeb;
}

body{
	background-color: #ffffcc;
}
.portfolio{
	background-color: #ffccff;
	padding: 30px;
	width:500px;
	text-align: center;
}
#links{
	text-align: center;

}
#connect{
	float:right;
}